<h1>Zugriff zum Jugger Tracker</h1>
<p>Hallo {{vorname}},<br/>
    <br/>
    um auf den Jugger-Tracker zuzugreifen, klicke bitte auf diesen Link: <a
            href="{{authenticationUrl}}">{{authenticationUrl}}</a>.<br/>
    Dieser Link ist bis {{ablaufdatum}} gültig.<br/>
    <br/>
    Liebe Grüße,<br/>
    Skynet von Jugger Vienna</p>